@import "./magaele/core/core/mixins";
@import "./magaele/core/core/variables";
$classname: 'activityContainer';
.#{$classname} {
  // .cto_close_btn {
  //   position: absolute;
  //   top: 80px;
  //   right: 30px;
  //   padding: 10px;
  //   cursor: pointer;
  //   svg {
  //       width: 16px;
  //       height: 16px;
  //   }
  // }
  // .keyword_close_btn{
  //   position: absolute;
  //   top: 56px;
  //   right: 85%;
  //   padding: 10px;
  //   cursor: pointer;
  //   z-index: 20;
  //   svg {
  //       width: 16px;
  //       height: 16px;
  //   }
  // }
  .dtm_rcfr{
    .all_wrap {
      border-bottom: 1px solid #ff8b88;
      padding-bottom: 10px;
    }
    .sec {
      border-bottom: 1px solid #e3e3e3;
      padding: 10px 0;
      &:last-child {
        border-bottom: none;
      }
    }
    .sec_all {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      line-height: 30px;
      padding: 0 5px;
      border-radius: 3px;
      cursor: pointer;
      &.active {
        color: #fff;
        background-color: #ff615d;
        text-decoration: none;
      }
    }
    .sec_wrap {
      margin-top: 10px;
      border-top: 1px solid #ff8b88;
    }
    .item {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      line-height: 30px;
      border-radius: 3px;
      padding: 0 15px 0 5px;
      margin: 5px 0;
      cursor: pointer;
      &:hover,
      &.active {
        color: #fff;
        background-color: #ff615d;
      }
      .ic_rcln {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }    
  }
  .searchInputCont{
    .bt_rcnb{
      background-color:#ff615d;
      min-width: 70px;
    }
    .ic_rcln{
      font-size:28px;
      font-weight: bold;
    }
  }
}


@media (min-width: 980px) {
  .#{$classname} {
    .dtm_rcfr{
      .sec {
        display: flex;
        padding: 10px 0;
        &:last-child {
          border-bottom: none;
        }
      }
      .sec_title {
        min-width: 110px;
        display: flex;
        justify-content: center;
      }
      .sec_content {
        flex: 1;
      }
      .sec_wrap {
        margin-top: 10px;
        border-top: 1px solid #ff8b88;
      }
      .item {
        width: 25%;
        &:hover {
          color: #fff;
          background-color: #ff615d;
        }
      }      
    }
    .searchInputCont{
      .searchText{
        display: none;
      }
    }
  }
}